
@model IEnumerable<InterfaceEntity.AssessmentOfTrainingServiceInformationEntity>


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript">

        function SaveDataAOTSI() {
            var result = Validation();
            if (result == false) return;

            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();
            myObject.Name = $("#Name").val();

            var url = "/AssessmentOfTrainingServiceInformation/Create"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت ثبت گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>ثبت اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }
                _GetListAssessmentOfTrainingServiceInformation();
                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function EditDataAOTSI() {
            var result = Validation();
            if (result == false) return;

            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();
            myObject.AssessmentOfTrainingServiceInformationId = $("#AssessmentOfTrainingServiceInformationId").val();
            myObject.Name = $("#Name").val();;

            var url = "/AssessmentOfTrainingServiceInformation/Edit"; // the url to the controller
            $.post(url, myObject, function (data) {
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت ویرایش گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>ویرایش اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }
                _GetListAssessmentOfTrainingServiceInformation();
                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function DeleteDataAOTSI(ID) {
            $("#ajaxloader").css("display", "inline");
            var myObject = new Object();

            myObject.ID = ID;
            var url = "/AssessmentOfTrainingServiceInformation/Delete"; // the url to the controller
            $.post(url, myObject, function (data) {
                $("#DeleteContent").css("display", "none");
                if (data == true) {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>اطلاعات با موفقیت حذف گردید!</p>");
                    $("#messageOp").css("color", "green");
                    $("#MessageOperation").css("display", "block");
                }
                else {
                    $("#ajaxloader").css("display", "none");
                    $("#messageOp").empty();
                    $("#messageOp").append("<p>حذف اطلاعات با خطا مواجه شد !</p>");
                    $("#messageOp").css("color", "red");
                    $("#MessageOperation").css("display", "block");
                }
                _GetListAssessmentOfTrainingServiceInformation();
                window.setTimeout(function () {
                    $("#MessageOperation").css("display", "none");
                }, 5000);
            });

        }
        function _GetListAssessmentOfTrainingServiceInformation() {
            $.ajax({
                url: "/AssessmentOfTrainingServiceInformation/_GetListAssessmentOfTrainingServiceInformation",
                type: 'GET',
                datatype: 'json',
                success: function (data) {
                    $('#theGridAOTSI').html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        function Validation() {
            $("#MessageOperation").css("display", "none");
            var StateValue = false;

            if ($('#Name').val() == '') {
                $('#Name').css('border-color', '#E16D56');
                StateValue = true;
            }
            else {
                $('#Name').css('border-color', '#d5d5d5');
            }

            if (StateValue == true) {
                $("#ajaxloader").css("display", "none");
                $("#messageOp").empty();
                $("#messageOp").append("<p>لطفا موارد مشخص شده را وارد نمائید !</p>");
                $("#messageOp").css("color", "red");
                $("#MessageOperation").css("display", "block");
                return false;
            }
        }

        $('#btnAddAOTSI').click(function () {
            $("#AssessmentOfTrainingServiceInformationId").val('');
            $("#Name").val('');
            $("#MessageOperation").css("display", "none");
            $('#Name').css('border-color', '#d5d5d5');
        });

        $('#btnSaveAOTSI').click(function () {
            debugger;
            if ($("#AssessmentOfTrainingServiceInformationId").val() == "") {
                SaveDataAOTSI();
            }
            else {
                EditDataAOTSI();
            }

        });

        $(document).on('click', '.btnEditAOTSI', function () {
            debugger;
            $("#WidgetBoxEducationEmployeme").removeClass("collapsed");
            $("#AceIconEducationEmployeme").removeClass("fa-chevron-down");
            $("#AceIconEducationEmployeme").addClass("fa-chevron-up");
            $("#WidgetBodyEducationEmployeme").css("display", "block");

            $("#AssessmentOfTrainingServiceInformationId").val($(this).attr('data-AssessmentOfTrainingServiceInformationId'));
            $("#Name").val($(this).attr('data-Name'));
        });

        $(document).on('click', '.btnDeleteAOTSI', function () {
            var ID = $(this).attr('data-Id');
            DeleteDataAOTSI(ID);
        });

    </script>
</head>

<body>
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" style="display:none;margin-bottom:10px" id="MessageOperation">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-check"></i>
                <a href="#" id="messageOp"></a>
            </li>
        </ul>
        <!-- /.breadcrumb -->
    </div>

    <div class="widget-box collapsed" id="WidgetBoxEducationEmployeme">
        <div class="widget-header">
            <ul class="breadcrumb">
                <li class="active"><a href="#">ثبت / ویرایش</a></li>
            </ul>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-down" id="AceIconEducationEmployeme"></i>
                </a>
            </div>
        </div>
        <div class="widget-body" style="display: none;" id="WidgetBodyEducationEmployeme">
            <div class="widget-main">
                <!-- /section:basics/sidebar -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" role="form">
                            <!-- #section:elements.form -->

                            <div class="form-group" hidden="hidden">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">کد فیلد : </label>
                                <div class="col-md-9">
                                    @Html.TextBox("AssessmentOfTrainingServiceInformationId", null, new { @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "کد فیلد" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">نام فیلد : </label>
                                <div class="col-md-9">
                                    @Html.TextBox("Name", null, new { @class = "col-xs-10 col-sm-5 col-md-10 fs", @placeholder = "نام فیلد" })
                                </div>
                            </div>                            

                            <div class="breadcrumbs" id="breadcrumbs">
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btnAddAOTSI" class="btn btn-info btn-white btn-round" type="button">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        جدید
                                    </button>
                                    &nbsp; &nbsp; &nbsp;
                                    <button id="btnSaveAOTSI" class="btn btn-success btn-white btn-round" type="button">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        ذخیره
                                    </button>
                                    &nbsp; &nbsp; &nbsp;
                                    <button type="button" class="btn btn-danger btn-white btn-round" data-dismiss="modal" aria-label="Close">
                                        <i class="ace-icon fa fa-undo bigger-125"></i>
                                        بازگشت
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-content-area">

            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div id="theGridAOTSI">
                        @Html.Partial("_GetListAssessmentOfTrainingServiceInformation", Model)
                    </div>
                </div>
                <!-- /.span -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content-area -->
    </div>
    <!-- /.page-content -->
    <div class="modal fade" id="AddNewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="breadcrumbs">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <ul class="breadcrumb">
                            <li>
                                <i class="ace-icon fa fa-home home-icon"></i>
                                <a href="#">فرم ثبت /ویرایش</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="modal-body" id="MainModalContent">
                    salam susage
                </div>

            </div>
        </div>
    </div>
</body>

</html>

