
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="page-content">

    <div class="page-content-area">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <!-- #section:pages/error -->
                <div class="error-container">
                    <div class="well">
                        <h1 class="grey lighter smaller">
                            <span class="blue bigger-125">
                                <i class="ace-icon fa fa-sitemap"></i>
                                404
                            </span>
                            Page Not Found
                        </h1>

                        <hr>
                        <p class="lighter blue smaller bigger-170">تیم فنی و پشتیبانی واحد آی تی در حال بروز رسانی می باشند</p>
                        <p class="lighter blue smaller bigger-170">از صبر و شکیبایی شما متشکریم</p>
                    </div>
                </div>

                <!-- /section:pages/error -->
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content-area -->
</div>

